<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>添加考试</h1>
    <a href="/add">新增</a>
    <form action="/del" method="POST" >
        <table>
            <tr>
                <th>
                    姓名
                </th>
                <th>
                    学校
                </th>
                <th>
                    班级
                </th>
                <th>
                    操作
                </th>
            </tr>
            {{each messages}}
            <tr>
            <td>{{$value.sname}}</td>
            <td>{{$value.school}}</td>
            <td>{{$value.class}}</td>
            <td><a class="del" id="{{$value.id}}">删除</a></td>
            <td><a class="change" id="{{$value.id}}">修改</a></td>
            </tr>
            {{/each}}
        </table>
    </form>
</body>
<script src="/javascripts/jquery-3.6.0.js"></script>
<script>
    $(".del").click(function(){
let id = $(this).attr("id")
$.ajax({
    type:"get",
    url:"/del?id="+id+"",
    success:(data)=>{
        if(data=="del_ok"){
            alert("删除成功")
            window.location.href = '/admin'
        }
    }
    
})
    })
    $(".change").click(function(){
        let id = $(this).attr("id")
        $.ajax({
            type:"get",
            url:"/change?id="+id+"",
            success:(data)=>{
                if(data == "ok"){
                    window.location.href ='/change1'
                }
            }
        })
    })
</script>
</html>