<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>注册</title>
</head>
<body>
    <div>
        <div class="bgDiv">
            <div class="register">
            <form action="/register" method="POST">
                <div class="username_reg">
                    <input type="text" name="name" class="userInp" placeholder="请输入用户名">
                </div>
                <div class="pwd_reg">
                    <input type="password" name="pwd1" id='pwd1'class="pwdInp"placeholder="请输入密码">
                </div>
                <div class="pwd_reg">
                    <input type="password" name="pwd2" id="pwd2" class="pwdInp"placeholder="请确认密码">
                </div>
                <div class="pwd_reg">
                    <input type="text" name="email" placeholder="请输入邮箱号" class="pwdInp">
                </div>
                <div class="belong_school">
                    <input type="text" list="school" placeholder="请选择学校" class="school_inp" name="school">
                    <datalist id="school">
                        <option value="南昌二中">
                            南昌二中
                        </option>
                        <option value="师大附中">
                            师大附中
                        </option>
                    </datalist>
                </div>
                <div class="belong_class">
                    <input type="text" list="belong_class" placeholder="请选择班级" class="class_inp" name="belong_class">
                    <datalist id="belong_class">
                        <option value="高三一班">
                            高三一班
                        </option>
                        <option value="高三二班">
                            高三二班
                        </option>
                    </datalist>
                </div>
                <button class="btn" type="submit">注册</button>
            </div>
            </form>
        </div>
    </div>
    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script>
    $(".btn").click(function(){
        $.ajax({
            type:"post",
            url:"/register",
            success:(data)=>{
                if(data.code_status == 'emp'){
                    alert('输入信息有误,请检查身份信息')
                    window.location.href = '/register'
                }
                else if(data.code_status == 'ok'){
                    window.location.href = '/login'
                }
            }
        })
    })
    </script>
</body>
</html>