<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>注册</title>
</head>
<body>
    <div>
        <div class="bgDiv">
            <div class="register">
            <form action="/register" method="POST">
                <div class="username_reg">
                    <input type="text" name="name" class="userInp" placeholder="请输入用户名">
                </div>
                <div class="pwd_reg">
                    <input type="password" name="pwd1" id='pwd1'class="pwdInp"placeholder="请输入密码">
                </div>
                <div class="pwd_reg">
                    <input type="password" name="pwd2" id="pwd2" class="pwdInp"placeholder="请确认密码">
                </div>
                <div class="belong_school">
                    <!-- <input type="text" name="nickName" id='nickname'class="nickInp" placeholder="请输入别名"> -->
                    <input type="text" list="school" placeholder="请选择学校" class="school_inp" name="school">
                    <datalist id="school">
                        <option value="南昌二中">
                            南昌二中
                        </option>
                        <option value="师大附中">
                            师大附中
                        </option>
                    </datalist>
                </div>
                <div class="belong_class">
                    <input type="text" list="belong_class" placeholder="请选择班级" class="class_inp" name="belong_class">
                    <datalist id="belong_class">
                        <option value="高三1班">
                            高三1班
                        </option>
                        <option value="高三2班">
                            高三2班
                        </option>
                        <option value="高三3班">
                            高三3班
                        </option>
                    </datalist>
                </div>
                <div class="phoneNumber_reg">
                    <input type="text" name="phoneNumber"class="phoneInp" placeholder="请输入手机号">
                </div>
                <button class="btn" type="submit">注册</button>
            </div>
            </form>
        </div>
    </div>
    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script>
        function seroalizeToJson(form){
        var result ={};
        var f = form.serializeArray();
        f.forEach(function (item){
            result[item.name]=item.value
        })
        return result
    }
    // function checkout (){
        // if(document.getElementById('pwd1').value!=document.getElementById('pwd2').value){
            // alert('请保持两次输入密码一致')
            // return false
        // }
        // if(typeof (document.getElementById('nickname').value)!='string'){
            // alert('别名请输入字符串')
            // return false
        // }
        // return false
    // }
    </script>
</body>
</html>