<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息</title>
</head>
<body>
    <h1>学生信息界面</h1>
    <div>
        <table>
            <tr>
                <th>
                    姓名
                </th>
                <th>
                    学校
                </th>
                <th>
                    班级
                </th>
                <th>
                    语文
                </th>
                <th>
                    数学
                </th>
                <th>
                    英语
                </th>
                <th>
                    综合
                </th>
                <th>
                    总分
                </th>
                <th>
                    预测大学
                </th>
            </tr>
            <tr>
                <td>
                    <%=user%>
                </td>
                <td>
                    <%=b_school%>
                </td>
                <td>
                    <%=be_class%>
                </td>
                <td>
                    <%=Chinese%>
                </td>
                <td>
                    <%=Math%>
                </td>
                <td>
                    <%=English%>
                </td>
                <td>
                    <%=Composite%>
                </td>
                <td>
                    <%=All%>
                </td>
                <td>
                    <%=University%>
                </td>
            </tr>
        </table>
    </div>
    <script>
        
    </script>
</body>
</html>